<section class="new-ship max-width-container border">
  <div class="section-grid max-width border">
    <div class="new-ship__button border">
      <p>new-ship__button</p>
    </div>
  </div>
</section>

<section class="ships-list max-width-container border">
  <div class="section-grid max-width border">
    <div
      *ngFor="let ship of ships"
      class="ship border"
      routerLink="/detail/{{ ship.id }}"
    >
      <span class="badge">{{ ship.id }}</span> {{ ship.name }}
    </div>
  </div>
</section>
