/* Layout new-ship section */
.new-ship__button {
  grid-column: 10/13;
  background-color: white;
  padding: 0.5em;
}


.ship {
  grid-column: span 3;
  max-height: 300px;
}

.ship-grid {
  display: grid;
  grid-template-rows: 2fr 1fr;

}

.ship-grid__image {
  max-width: 240px;
  max-height: 200px;
}

.ship-grid__name {
  max-height: 100px;
}

.ships-list>.section-grid {
  grid-auto-rows: 15em;
}