<section class="page-heading max-width-container">
  <div class="section-grid max-width">
    <h2 class="page-heading__heading">Available Ships</h2>
    <div class="new-ship__button">
      <a
        class="ship__actions-action ship__actions-action-green"
        routerLink="/new-ship"
      >
        Create New Ship
      </a>
    </div>
  </div>
</section>

<section class="ships-list max-width-container">
  <div class="section-grid max-width">
    <div *ngFor="let ship of ships" class="ship">
      <div class="ship__image">
        <img [src]="getImageUrl(ship)" />
      </div>
      <div class="ship__stats">
        <p class="ship__stats-name">{{ ship.name }}</p>
      </div>
      <div class="ship__actions">
        <a
          *ngIf="canCreateNewShipping(ship)"
          (click)="createShipping(ship)"
          class="ship__actions-action ship__actions-action-green"
          >New shipping</a
        >

        <a
          *ngIf="shippingExists(ship)"
          (click)="editShipping(ship)"
          class="ship__actions-action ship__actions-action-orange"
          >Edit shipping</a
        >

        <div class="shipping-state__shipping" *ngIf="isShipAway(ship)">
          <p>{{ ship.name }} is at sea</p>
        </div>
      </div>
    </div>
  </div>
</section>
