.shipping-area {
  height: 670px
}

.cargo-area {
  padding: 1em;
  grid-column: span 6;
  overflow-y: auto;
  border: dashed 1px black;
  border-radius: 10px;
}

.ship-area {
  grid-column: span 6;
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  border-radius: 5px;
}

.ship-cargo {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.ship-cargo-list {
  flex-grow: 1;
  padding: 0.1em 0.5em 0.5em 0.5em;
  max-height: 300px;
  overflow-y: auto;
}

.ship-weight {
  border: dotted 2px black;
  padding: 0.5em;
  background-color: #CCC;
  justify-items: end;
}

.ship-weight p {
  font-size: 1.5em;
}

.ship-weight-status {
  font-weight: bold;
  color: blue;
}

.shipping-back {
  grid-column: 10/11;
}

.shipping-embark {
  grid-column: 11/13;
}

button {
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
}

.button__disembark {
  color: white;
  background-color: rgb(33, 203, 33);
}

.button__cancel {
  color: white;
  background-color: red;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}