/* ShipDetailComponent's private CSS styles */
label {
    color: black;
    font-weight: bold;
  }

  h2 {
    color: black;
    font-weight: bold;
  }

input {
  font-size: 1em;
  padding: .5rem;
  margin-top: 1em;
}
button {
  margin-top: 30px;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
  font-family: sans-serif;
}

button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.ship-background {
  background-image: url(https://i.guim.co.uk/img/media/e8f6e2839f90aa29229d2cfa92007c4863303e4a/0_201_2740_1645/master/2740.jpg?width=1200&quality=85&auto=format&fit=max&s=ea0bee8bde5d31ed3c9d97f5158cf207);
  background-size:contain;
  background-repeat: no-repeat;
}

.ship-detail {
  display: flex;
  gap: 1em;
  flex-flow: row wrap;
  max-width: 1370px;
}

.ship {
  margin-top: 1em;
  padding-left: 1em;
  flex-grow: 1;
  border: 1px black solid;

  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  gap: 1em;
}

.ship .ship-data {
  flex-grow: 2;
}

.ship .loaded-cargo {
  margin-bottom: 1em;
  max-width: 450px;
}

.cargo {
  flex-grow: 1;
  margin-top: 1em;
  padding-bottom: 1em;
  border: black 1px dashed;
  padding-left: 1em;
  max-width: 450px;
}

