<h2>{{ship.name | uppercase}}</h2>
<div class="ship-detail">
    <div class="ship  ship-background" *ngIf="ship">
        <div class="ship-information">
            <div class="ship-data">
                <div>
                    <input id="ship-name" [(ngModel)]="ship.name" placeholder="Ship name"/>
                </div>
                <button type="button" (click)="goBack()">go back</button>
                <button type="button" (click)="save()">save</button>    
            </div>
            <div class="ship-cargo" *ngIf="ship.weight">
                <div class="ship-weight">
                    <h2>Current Weight</h2>
                    <span>{{ship.weight}} / {{ship.maxweight}}</span>
                </div>
            </div>
        </div>
            
        <div class="loaded-cargo">
            <app-cargos 
                [ship]="ship" 
                [showLoaded]="true"
                (shipUpdated)="onShipLoadUpdated($event)"
            ></app-cargos>
        </div>
    </div>

    <div class="cargo" *ngIf="ship">
        <app-cargos 
            [ship]="ship"
            [showLoaded]="false"
            [showLoadObserve]="cargoLoadSubject.asObservable()"
            (shipUpdated)="onShipLoadUpdated($event)"
        ></app-cargos>
    </div>
</div>
