<div class="ship-detail">
    <div class="ship" *ngIf="ship">
        <div class="ship-data">
            <h2>{{ship.name | uppercase}}</h2>
            <div>
                <label for="ship-name">Ship name:</label>

            </div>
            <div>
                <input id="ship-name" [(ngModel)]="ship.name" placeholder="Ship name"/>
            </div>
            <button type="button" (click)="goBack()">go back</button>
            <button type="button" (click)="save()">save</button>
        </div>        

        <div class="loaded-cargo">
            <app-cargos 
                [ship]="ship" 
                [showLoaded]="true"
                (shipUpdated)="onShipLoadUpdated($event)"
            ></app-cargos>
        </div>
    </div>

    <div class="cargo" *ngIf="ship">
        <app-cargos 
            [ship]="ship"
            [showLoaded]="false"
            [showLoadObserve]="cargoLoadSubject.asObservable()"
            (shipUpdated)="onShipLoadUpdated($event)"
        ></app-cargos>
    </div>
</div>
