<section class="page-heading max-width-container">
  <div class="section-grid max-width">
    <h2 class="page-heading__heading">Create a new Ship</h2>
  </div>
</section>

<section class="max-width-container border">
  <div class="section-grid max-width border">ship-name section</div>
</section>

<section class="catain-list max-width-container">
  <div class="max-width catain-list__container catain-list-border">
    <h2 class="catain-list__title">Choose Your Catain</h2>
    <div class="section-grid">
      <div class="catain">
        <div class="catain__image">
          <img src="../../assets/catains/bootstrap_bill.jpg" />
        </div>
        <div class="catain__name">
          <p class="catain__name-center">Catain</p>
        </div>
      </div>

      <div class="catain catain-selected">
        <div class="catain__image">
          <img src="../../assets/catains/catain_black_whiskers.png" />
        </div>
        <div class="catain__name">
          <p class="catain__name-center">Catain</p>
        </div>
      </div>

      <div class="catain">
        <div class="catain__image">
          <img src="../../assets/catains/catain_cat_sparrow.png" />
        </div>
        <div class="catain__name">
          <p class="catain__name-center">Catain</p>
        </div>
      </div>

      <div class="catain">
        <div class="catain__image">
          <img src="../../assets/catains/furry_jones.jpeg" />
        </div>
        <div class="catain__name">
          <p class="catain__name-center">Catain</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="max-width-container border">
  <div class="section-grid max-width border">cta-area</div>
</section>
