<section class="page-heading max-width-container">
  <div class="section-grid max-width">
    <h2 class="page-heading__heading">
      <span class="page-heading__highlight">{{ shipping.name }}</span>
      left the harbor together with
      <span class="page-heading__highlight">{{shipping.catainName}}!</span>
    </h2>
  </div>
</section>

<section class="shipping-summary max-width-container">
  <div class="shipping-summary__styling section-grid max-width">
    <div class="shipping-ship">
      <img [src]="getImageUrl(shipping.catainId)" />
    </div>
    @if (shipping) {
      <div class="shipping-cargo">
        <app-cargos [shipping]="shipping" [showLoaded]="true"></app-cargos>
      </div>
    }
  </div>
</section>

<section class="sailors-code max-width-container">
  <p class="max-width sailors-code__styling">
    {{ shipping.sailorsCode }}
  </p>
</section>

<section class="disembark-cta max-width-container">
  <div class="max-width section-grid">
    <div class="disembark-allships">
      <button type="button" class="button__navigation" (click)="allShips()">View all Ships</button>
    </div>
  </div>
</section>
