.ship-background {
    background-image: url('../../assets/img/ship.jpg');
    background-size:contain;
    background-repeat: no-repeat;
  }
  
  .ship-detail {
    display: flex;
    gap: 0.5em;
    flex-flow: column wrap;
    max-width: 800px;
  }
  
  .ship-detail h2 {
      color: black;
      font-weight: bold;
  }

  .ship-detail .ship-information {
    display: flex;
    flex-flow: row wrap;
    border: 1px black solid;
  }

  .ship {
    flex-grow: 1;
    border-radius: 5px;
  
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    gap: 1em;
  }

  .ship-information .ship img {
    width: 350px;
    height: 250px;
  }

  .ship-information .loaded-cargo {
    margin-bottom: 1em;
    margin-right: 1em;
    margin-left: 1em;
  }

  .ship-detail .sailors-code {
    border: 1px solid;
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
  }